.swatches {
  margin-bottom: 1rem;
}

.swatch {
  border: 1px solid #afafb3;
  flex: 0 0 33.333%;
  padding: 1rem;

  &:first-child {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-right: none;
  }

  &:last-child {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-left: none;
  }
}
