$grey: #adafaa;
$green: #036803;
$red: #b60202;

/* Colour + Contrast */

.swatch {
  display: flex;
  flex-direction: row;

  &__source,
  &__compare {
    border: 1px solid $grey;
    height: 5.5rem;
    width: 10rem;
  }

  &__source {
    border-bottom: none;
    margin-bottom: 0;
  }
  &__compare {
    border-top: none;
    margin-top: 0;
  }

  &__values {
    margin-left: 0.25rem;
  }

  &__controls > p {
    margin-top: 0.5rem;
  }
}

.saturation,
.lightness {
  min-width: 81%;
}

.contrast {
  border: 1px solid $grey;
  border-radius: 0.25em;
  display: flex;
  height: 5rem;
  padding: 0.5rem;

  p {
    margin-top: 0;
  }

  &.pass {
    border-color: $green;
    border-width: 3px;
    padding: calc(0.5rem - 2px);
  }

  &__ratio {
    align-self: center;
    font-size: 2rem;
    width: 4em;
  }

  &__value {
    font-weight: bold;
  }

  &__description {
    font-size: 0.9rem;
    & > .label {
      font-weight: bold;
    }
  }
}
.label--wcagA > span,
.label--wcagAA > span,
.label--wcagAAA > span {
  color: $red;

  &.pass {
    color: $green;
    font-weight: bold;
  }
}

.exBg {
  border: 1px solid;
  font-size: 200%;
  margin: 0 auto;
  padding: 0.5em 0;
  text-align: center;
}

@media (min-width: 1012px)  {
  .exBg {
    width: 66.6667%;
  }
}

/* Opacity */

.colours {
  display: flex;
  margin-bottom: 1rem;
}

.colour {
  flex-grow: 1;
  mix-blend-mode: difference;
  padding: 1rem;
}