<div id="copy" class="flex flex--jc-center">
    <div>
        <span class="fad fa-copy" aria-hidden="true"></span>
        <span class="visually-hidden">Copy</span>
        <button class="button button--sm js-hex" data-copy="">HEX</button>
        <button class="button button--sm js-rgb" data-copy="">RGB</button>
        <button class="button button--sm js-hsl" data-copy="">HSL</button>
    </div>
</div>
