
<div class="swatch__controls">
    <p>
        <label class="flex text--small"><input type="range" class="saturation m-r-sm"
            id="{{ section_name }}Sat" min="0" max="100" step="1" value="{{ saturation }}">
            saturation
        </label>
    </p>
    <p>
        <label class="flex text--small"><input type="range" class="lightness m-r-sm"
            id="{{ section_name }}Light" min="0" max="100" step="1" value="{{ lightness }}">
            lightness
        </label>
    </p>
</div>
